@model Student_Management_System.Models.Student

<h2>Name: @Model.FirstName @Model.LastName</h2>
<br />

@if (Model.Enrollments != null && Model.Enrollments.Count > 0)
{
    <h4><strong>Enrollments</strong></h4>
    <table class="table table-striped" style="border: 1px solid #ddd;">
        <thead>
            <tr>
                <th>Course</th>
                <th>Teacher</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enrollment in Model.Enrollments)
            {
                <tr>
                    <td>@enrollment.Course.CourseName</td>
                    <td>@enrollment.Teacher.FirstName @enrollment.Teacher.LastName</td>
                    <td>@enrollment.EnrollmentDate</td>
                    <td> 
                        <a href="@Url.Action("Details", "Enrollments", new { id = enrollment.EnrollmentId })" class="btn btn-link">Details</a>
                        </td>
                </tr>
            }
        </tbody>
    </table>
}
else{
    <h5><strong>Enrollments:</strong> No enrollments for this student!</h5>
}
    

<a href="@Url.Action("Index", "Students")" class="btn btn-secondary">Back to Students</a>
<a href="@Url.Action("Edit", "Students", new { id = @Model.StudentId })" class="btn btn-primary">Edit Student</a>

<form asp-action="Delete" method="post" style="display:inline;">
    <input type="hidden" name="id" value="@Model.StudentId" />
    <button type="submit" class="btn btn-danger">Delete Student</button>
</form>
